[Unit]
Description = Toydea Cabinet
After=syslog.target network.target

[Service]
ExecStart =/home/tdadmin/toydea-cabinet/start.sh
Restart = always
Type = simple
WorkingDirectory=/home/tdadmin/toydea-cabinet
# KillMode=process
User=tdadmin
Group=tdadmin

[Install]
WantedBy = multi-user.target
