<?php

return array(
	/**
	 * BAASのURL.
	 * '/'で終わっている必要がある
	 */
	'baas_url'=>'http://baas.moe-apps.com/',
	
	/**
	 * spider(クローラ)のURL
	 * '/'で終わっている必要がある
	 */
	'spider_url'=>'http://api.moe-apps.com/',
);
