#root {
  width: 720px;
  margin: 0 auto;
  /* padding: 2rem; */
  /*text-align: center;*/
}

.inp {
  width: 80px;
}

.h1 {
  width: 100%;
  text-align: center;
}

.tbl {
  border-collapse: collapse;
}

.tbl th {
  text-align: center;
  border: 1px white solid;
}

.tbl td {
  text-align: right;
  border: 1px white solid;
}

.w80 {
  width: 120px;
}

.w40 {
  width: 120px;
}

input {
  text-align: right;
  font-size: 2em;
}

.btn-inline {
  display: inline;
}